body {
  font-family: Arial, Helvetica, sans-serif;
}

.group {
  cursor: pointer;
}

#back {
  cursor: pointer;
  color: #475464;
}

.hidden {
  display: none;
}

svg {
  background-color: aliceblue;
}
