body {
  font-family: Arial, Helvetica, sans-serif;
}

.group {
  cursor: pointer;
}

#back {
  cursor: pointer;
  color: #475464;
}

.hidden {
  display: none;
}

.label {
  text-anchor: middle;
  font-size: 12px;
  fill: #475464;
}
